@model MVCWorkShop1.Models.Book_Data
@{
    ViewBag.Title = "Index";
}
<br />
<center>
    @Html.ActionLink("新增書籍", "InsertBook", "Library", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("查詢書籍", "Search", "Library", null, new { @class = "btn btn-success" })
</center>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>書籍名稱</th>
            <th>作者</th>
            <th>圖書類別編號</th>
            <th>出版社</th>
            <th>狀態</th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in (List<MVCWorkShop1.Models.Book_Data>)ViewBag.SearchResult)
            {
            <tr id='@item.BookId'>
                <td>@item.BookName</td>
                <td>@item.BookAuthor</td>
                <td>@item.BookClassId</td>
                <td>@item.BookPublisher</td>
                <td>@item.BookStatus</td>
            </tr>
            }*@
    </tbody>
</table>


