@model MVCWorkShop1.Models.Book_Data
@{
    ViewBag.Title = "Index";
    var BooksList = ViewBag.BooksList;
}

<br />
<center>
    @Html.ActionLink("新增書籍", "InsertBook", "Library", null, new { @class = "btn btn-warning" })
    @Html.ActionLink("查詢書籍", "Search", "Library", null, new { @class = "btn btn-success" })
</center>
<br />
<table class="table table-bordered table-striped" style="text-align:center;">
    <thead>
        <tr>
            <th>書籍名稱</th>
            <th>作者</th>
            <th>圖書類別編號</th>
            <th>出版社</th>
            <th>狀態</th>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in BooksList)
        {
        <tr id='@item.BookId'>
            <td>@item.BookName</td>
            <td>@item.BookAuthor</td>
            <td>@item.BookClassId</td>
            <td>@item.BookPublisher</td>
            <td>@item.BookStatus</td>
            <td>@Html.ActionLink("修改", "UpdateEmployee", new { id = item.BookId }, new { @class = "btn btn-primary" })</td>
            <td>
                @Html.ActionLink("刪除", "UpdateEmployee", new { id = item.BookId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
         }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
    
    });
</script>


